html,
body {
  margin: 0;
  padding: 0;

}
body.bg-azul{
  background:#0c5a75;
}

.principa {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

/* Secção */
#home {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow: hidden;
}

/* Imagens */
#home img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

/* Overlay escuro elegante */
#home::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4));
  z-index: 2;
}

/* Texto */
.home-txt {
  position: absolute;
  z-index: 3;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  max-width: 900px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

/* Título */
.home-txt h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
  font-family: 'Alimony';
}

.home-txt h1 span {
  color: #0c5a75;
}

.home-txt p {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: left;
}

/* Botões */
.box-botton {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.box-boot {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #0c5a75;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  height: 60px;
}

.box-boot:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.gan {
  margin: 0;
  font-size: 16px;
}

.ganhar {
  display: flex;
  align-items: center;
}

.ganhar .bi {
  color: #fff;
  font-size: 36px;
}



/* Dots */
.dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  z-index: 3;
}

.dot {
  height: 12px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.dot.active {
  background: #0c5a75;
  transform: scale(1.4);
}

.dot:hover {
  transform: scale(1.5);
}

/* SOBRE */
.sobre {
  padding: 80px 20px;
  text-align: center;
  background: #eeeeee;
  color: #0c5a75;
}

.sobre h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 800;
}

.sobre p {
  font-size: 16px;
  margin-bottom: 5px;
}

/* VANTAGENS */
.vantagens {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 50px 20px;
  flex-wrap: wrap;
  background: white;
}

.vantagem-card {
  width: 250px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.vantagem-card h3 {
  color: #0c5a75;
  font-size: 17px;
  padding: 10px 0;
}

.vantagem-card p {
  color: #6f6f6f;
  font-size: 15px;
}

.vantagem-card:hover {
  transform: translateY(-10px);
}

.vantagem-card .bi {
  font-size: 40px;
  color: #0c5a75;
}

/* ESTATÍSTICAS */
.stats {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 70px 20px;
  background: #0c5a75;
  color: white;
  text-align: center;
  flex-wrap: wrap;
}

.statt h2 {
  font-size: 48px;
  margin: 0;
}

.statt p {
  margin-top: 10px;
  font-size: 16px;
}

/* TESTEMUNHOS */
.testemunhos {
  padding: 50px 20px;
  text-align: center;
  background: #f5f7fa;
}

.testemunhos h2 {
  color: #0c5a75;
}

.testemunho-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}

.testemunho-card p {
  color: #0c5a75;
  padding: 10px;
}

.testemunho-card span {
  color: #4b4b4b;
}

/* CTA FINAL */
.cta-final {
  padding: 50px 20px;
  text-align: center;
  background: #0c5a75;
  color: white;
}

.cta-final button {
  margin-top: 20px;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  background: white;
  color: #0c5a75;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.cta-final button:hover {
  transform: scale(1.05);
}


/* Responsivo */
@media (max-width: 768px) {
  #home {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  .home-txt h1 {
    font-size: 2rem;
  }

  .home-txt {
    padding: 10px;
  }

  .home-txt p {
    padding: 0 12px;
    font-size: 16px;
  }

  .box-botton {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-top: 25px;
    flex-wrap: wrap;
  }

  .box-boot {
    display: flex;
    gap: 0;
    padding: 20px 4px;
    height: 30px;
  }

  .ganhar p {
    display: flex;
    font-size: 12px;
  }

  .ganhar .bi {
    font-size: 20px;
  }
}